.popup-wrapper {
  /* position: relative; */
  width: 300px;
  height: 350px;
  background-color: white;
  z-index: 10;
}

.test {
  position: absolute;
  text-align: center;
  top: 386px;
  opacity: 70%;
  width: 300px;
  height: 40px;
  background-color: pink;
  cursor: pointer;
  border: none;
  bottom: 0;
}
