.favorites-wrapper {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.favorites-icon {
  margin-right: 5px;
}

@media screen and (max-width: 600px) {
  .favorites-wrapper {
    margin-right: 0;
  }
}
