* {
  margin: 0;
}

.topbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 150px;
  background-color: aliceblue;
}

.logo-wrapper {
  margin-right: 30px;
}

.location-wrapper {
  margin-right: 70px;
}

.search-wrapper {
  margin-right: 110px;
}

.navigation-wrapper {
  padding: 0 150px 20px 150px;
  background-color: aliceblue;
}
