.header-wrapper {
  padding: 2em 3em;
  background-color: white;
}

.topbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-wrapper {
  margin-top: 30px;
}

.location-wrapper {
  margin-right: 70px;
  margin-left: 30px;
}

.search-wrapper {
  margin-right: 110px;
}

@media screen and (max-width: 600px) {
  .navigation-wrapper,
  .location-wrapper,
  .search-wrapper {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .burger-responsive {
    display: none;
  }
}
