.header-wrapper {
  padding: 4% 10%;
  background-color: white;
}

.topbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-wrapper {
  /* padding: 0 100px 20px 100px; */
  margin-top: 30px;
}

.logo-wrapper {
  margin-right: 30px;
}

.location-wrapper {
  margin-right: 70px;
}

.search-wrapper {
  margin-right: 110px;
}

@media screen and (max-width: 600px) {
  .burger-responsive {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 3% 8%;
    justify-content: space-between;
  }

  .navigation-wrapper,
  .logo-wrapper,
  .topbar-wrapper,
  .search-wrapper,
  .header-wrapper {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .burger-responsive {
    display: none;
  }
}
