.search-input {
  max-width: 750px;
  min-width: 600px;
  /* width: 100%; */
  padding: 12px 35px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgb(226, 223, 223);
  border: none;
  text-align: center;
}

.search-icon {
  position: absolute;
  top: 20px;
  left: 15px;
}

.input-wrapper {
  position: relative;
}
