.location-select-button {
  display: flex;
  align-items: center;
}

.location-icon {
  height: 20px;
  margin-right: 5px;
}

.preloader-img {
  z-index: 999;
  position: absolute;
  top: 185px;
  left: 125px;
}

.popup-preloader-wrapper {
  position: relative;
}
