.location-select-button {
  display: flex;
  align-items: center;
}

.location-icon {
  height: 20px;
  margin-right: 5px;
}

@media screen and (max-width: 600px) {
  .location-select-button {
    display: none;
  }
}
