.navbar-list:hover {
  background-color: rgb(226, 223, 223);
  cursor: pointer;
  border-radius: 15px;
  list-style: none;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  padding: 5px;
}
